In [2332]:
import pandas as pd

In [2333]:
# Create the dataframe Listing
listing_df= pd.read_csv('listings2.csv')
listing_df

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3686,https://www.airbnb.com/rooms/3686,20221220053924,2022-12-20,city scrape,Vita's Hideaway,IMPORTANT NOTES<br />* Carefully read and be s...,We love that our neighborhood is up and coming...,https://a0.muscache.com/pictures/61e02c7e-3d66...,4645,...,4.83,3.86,4.62,NaN,f,1,0,1,0,0.55
1,196429,https://www.airbnb.com/rooms/196429,20221220053924,2022-12-20,city scrape,"Takoma Garden apt-Lush yard,pets ok",Private Garden apt in SF home with Full size b...,Small town feel in big city. Takoma Park is a...,https://a0.muscache.com/pictures/1768756/9d738...,956417,...,5.00,4.60,4.20,NaN,f,1,1,0,0,0.06
2,198685,https://www.airbnb.com/rooms/198685,20221220053924,2022-12-20,city scrape,Private room in central location.,"Welcome, I'm happy to share my home with you. ...",The neighborhood is quiet for the most part bu...,https://a0.muscache.com/pictures/06e92870-bb6e...,966613,...,4.82,4.45,4.68,NaN,f,1,0,1,0,1.12
3,201116,https://www.airbnb.com/rooms/201116,20221220053924,2022-12-20,city scrape,Victorian Haven - Private Basement!,<b>The space</b><br />Come stay with us in my ...,NaN,https://a0.muscache.com/pictures/1841088/7148a...,983611,...,4.81,4.84,4.55,Hosted License: 5007242201001837,f,1,1,0,0,1.60
4,204741,https://www.airbnb.com/rooms/204741,20221220053924,2022-12-20,city scrape,1-Suburbia in the City--Best Value!!!,Budget-friendly room in a working-class neighb...,This is a working-class residential neighborho...,https://a0.muscache.com/pictures/780eea72-7c59...,1005751,...,4.66,3.75,4.62,NaN,f,2,0,2,0,0.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6212,155859,https://www.airbnb.com/rooms/155859,20221220053924,2022-12-20,city scrape,~Upper North West GuestNest DC,-Guest Room w/ Private Bath for 31-62 days<br ...,We are in an historic African American and Jew...,https://a0.muscache.com/pictures/07116fe3-f86f...,745305,...,4.96,4.71,4.87,NaN,f,2,1,1,0,0.94
6213,164069,https://www.airbnb.com/rooms/164069,20221220053924,2022-12-20,city scrape,Bedroom in Lower Level Apartment,Please contact me before booking to make sure ...,My rowhouse is centrally located in the heart ...,https://a0.muscache.com/pictures/b5b93422-e52d...,5059,...,4.87,4.46,4.70,Hosted License: 5007242201001033,f,4,0,4,0,1.43
6214,174808,https://www.airbnb.com/rooms/174808,20221220053924,2022-12-20,city scrape,Historic American Four Square,This listing is for a room in a restored Ameri...,NaN,https://a0.muscache.com/pictures/5f17e80d-ffa5...,835242,...,5.00,4.67,4.95,Hosted License: 5007242201001736,f,1,0,1,0,0.70
6215,175608,https://www.airbnb.com/rooms/175608,20221220053924,2022-12-20,city scrape,People's Place - Convention Center,Semi furnished 2 bedroom. The apartment now h...,NaN,https://a0.muscache.com/pictures/1116440/e256a...,50148,...,4.56,4.68,4.48,NaN,f,3,3,0,0,1.36
6216,178395,https://www.airbnb.com/rooms/178395,20221220053924,2022-12-20,city scrape,"Spare Room for Washington,DC Visit or entire h...",Project<br /><br />Four bedroom and 2.5 bathro...,Manor Park,https://a0.muscache.com/pictures/1136591/7c34d...,852801,...,NaN,NaN,NaN,NaN,f,2,1,1,0,NaN

In [2334]:
# Gather all the data about host in a dataframe host
host_df=listing_df[['host_id','id','host_url','host_name','host_since','host_location','host_about',	'host_response_time','host_response_rate','host_acceptance_rate','host_is_superhost','host_thumbnail_url','host_picture_url','host_neighbourhood','host_listings_count','host_total_listings_count','host_verifications','host_has_profile_pic','host_identity_verified']].copy()

In [2335]:
# Display host
host_df.head()

,host_id,id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
0,4645,3686,https://www.airbnb.com/users/show/4645,Vita,2008-11-26,"Washington, DC","I am a literary scholar, teacher, poet, vegan ...",NaN,NaN,100%,f,https://a0.muscache.com/im/users/4645/profile_...,https://a0.muscache.com/im/users/4645/profile_...,Anacostia,1,4,"['email', 'phone', 'work_email']",t,t
1,956417,196429,https://www.airbnb.com/users/show/956417,Julia,2011-08-11,"Washington, DC",Professional Mom welcomes you to our home wher...,NaN,NaN,75%,f,https://a0.muscache.com/im/users/956417/profil...,https://a0.muscache.com/im/users/956417/profil...,Takoma,1,6,"['email', 'phone']",t,t
2,966613,198685,https://www.airbnb.com/users/show/966613,Robin,2011-08-13,"Washington, DC",I'm 41 and have daughter in college. Living an...,a few days or more,0%,61%,f,https://a0.muscache.com/im/pictures/user/cfe96...,https://a0.muscache.com/im/pictures/user/cfe96...,Old Soldiers' Home,1,5,"['email', 'phone']",t,t
3,983611,201116,https://www.airbnb.com/users/show/983611,Reed,2011-08-17,"Washington, DC","Honest, friendly, fun, caring... I love people...",NaN,NaN,94%,f,https://a0.muscache.com/im/users/983611/profil...,https://a0.muscache.com/im/users/983611/profil...,Takoma,1,1,"['email', 'phone']",t,t
4,1005751,204741,https://www.airbnb.com/users/show/1005751,Denise,2011-08-22,"Washington, DC","Fun-loving, adventurous, well-traveled. I spe...",within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/a0d6b...,https://a0.muscache.com/im/pictures/user/a0d6b...,Washington Highlands,3,3,"['email', 'phone', 'work_email']",t,t

In [2336]:
# Display the number of hosts in the dataframe
print(len(host_df))

6217

In [2337]:
# Delete redundoncy and print the number of hosts
host_df = host_df.drop_duplicates(subset='host_id')
print(len(host_df))

3294

In [2338]:
# Create Host Csv file
host_df.to_csv('host_final.csv', index=False)

In [2339]:

# Drop the columns related to host from the dtaframe listing
columns_to_drop = [
    'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
    'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
    'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count',
    'host_total_listings_count', 'host_verifications', 'host_has_profile_pic',
    'host_identity_verified'
]
listing_df = listing_df.drop(columns=columns_to_drop)

In [2340]:
# neighbourhood_df= pd.read_csv('neighbourhoods_final.csv')

In [2341]:
# listing_df = listing_df.drop(columns='neighbourhood')
# listing_df = listing_df.drop(columns='neighbourhood_group')

In [2342]:

# listing_df = listing_df.rename(columns={'neighbourhood_cleansed': 'neighbourhood'})
# listing_df = listing_df.rename(columns={'neighbourhood_group_cleansed': 'neighbourhood_group'})

In [2343]:
listing_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [2344]:
# import math
# # Fill the neighberhood_group in listing
# for i, listing_row in listing_df.iterrows():
#     for j, neighbourhood_row in neighbourhood_df.iterrows():
#         if (listing_row['neighbourhood'] == neighbourhood_row['neighbourhood']).any():
#             listing_df.at[i, 'neighbourhood_group'] = int(neighbourhood_row['neighbourhood_group'])

In [2345]:
# neighbourhood_group_dtype = listing_df['neighbourhood_group'].dtypes
# print(neighbourhood_group_dtype)

In [2346]:
# listing_df['neighbourhood_group'].head(10)

In [2347]:
# Create a dataframe for min max nights
min_max_night_df=listing_df[['id','minimum_nights','maximum_nights',	
                             'minimum_minimum_nights',	'maximum_minimum_nights',
                             'minimum_maximum_nights','maximum_maximum_nights',
                             'minimum_nights_avg_ntm','maximum_nights_avg_ntm']].copy()

In [2348]:
# display the dataframe min_max_night_df
min_max_night_df

,id,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
0,3686,31,365,31.0,31.0,365.0,365.0,31.0,365.0
1,196429,31,1125,31.0,31.0,1125.0,1125.0,31.0,1125.0
2,198685,31,365,31.0,31.0,365.0,365.0,31.0,365.0
3,201116,31,730,31.0,31.0,730.0,730.0,31.0,730.0
4,204741,31,180,31.0,31.0,180.0,180.0,31.0,180.0
...,...,...,...,...,...,...,...,...,...
6212,155859,31,62,31.0,31.0,1125.0,1125.0,31.0,1125.0
6213,164069,2,1125,2.0,2.0,1125.0,1125.0,2.0,1125.0
6214,174808,2,20,2.0,2.0,20.0,20.0,2.0,20.0
6215,175608,31,365,31.0,31.0,365.0,365.0,31.0,365.0
6216,178395,31,730,31.0,31.0,730.0,730.0,31.0,730.0

In [2349]:
# Drop the columns related to min max night from the dtaframe listing
columns_to_drop = [
    'minimum_nights',
    'maximum_nights',
    'minimum_minimum_nights',	
    'maximum_minimum_nights',
    'minimum_maximum_nights',
    'maximum_maximum_nights',
    'minimum_nights_avg_ntm',
    'maximum_nights_avg_ntm'
]
listing_df = listing_df.drop(columns=columns_to_drop)

In [2350]:
# Create a CSV file for min max nights
min_max_night_df=min_max_night_df.to_csv('min_max_night_final.csv', index=False)

In [2351]:
# Create dataframe for the availability of listing
availability_df=listing_df[['id','has_availability','availability_30',
                             'availability_60',	'availability_90',
                             'availability_365','calendar_last_scraped',
                             'instant_bookable']].copy()

In [2352]:
# display availability_df
availability_df

,id,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,instant_bookable
0,3686,t,30,60,90,365,2022-12-20,f
1,196429,t,23,53,83,358,2022-12-20,f
2,198685,t,11,11,11,231,2022-12-20,f
3,201116,t,26,56,86,361,2022-12-20,f
4,204741,t,0,0,0,168,2022-12-20,f
...,...,...,...,...,...,...,...,...
6212,155859,t,30,60,90,90,2022-12-20,f
6213,164069,t,0,17,47,322,2022-12-20,f
6214,174808,t,30,60,90,180,2022-12-20,f
6215,175608,t,4,34,64,339,2022-12-20,f
6216,178395,t,30,60,90,365,2022-12-20,f

In [2353]:
# Drop the columns related to min max night from the dtaframe listing
columns_to_drop = [
    'has_availability','availability_30',
                             'availability_60',	'availability_90',
                             'availability_365','calendar_last_scraped',
                             'instant_bookable'
]
listing_df = listing_df.drop(columns=columns_to_drop)

In [2354]:
# Create CSV file for availability
availability_df=availability_df.to_csv('availability_final.csv', index=False)

In [2355]:
# Create dataframe for listing_reviews
listing_reviews_df=listing_df[['id','number_of_reviews','number_of_reviews_ltm',
                             'number_of_reviews_l30d','first_review',
                             'last_review',
                             'review_scores_rating','review_scores_accuracy',	
                             'review_scores_cleanliness', 'review_scores_checkin',
                             'review_scores_communication','review_scores_location','reviews_per_month','review_scores_value'
]].copy()

In [2356]:
# display listing_reviews_df
listing_reviews_df

,id,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,reviews_per_month,review_scores_value
0,3686,81,4,0,2010-11-01,2022-07-06,4.63,4.72,4.43,4.90,4.83,3.86,0.55,4.62
1,196429,7,1,0,2013-04-23,2022-04-01,4.20,4.40,4.20,5.00,5.00,4.60,0.06,4.20
2,198685,154,14,0,2011-09-03,2022-10-27,4.72,4.79,4.52,4.78,4.82,4.45,1.12,4.68
3,201116,220,25,0,2011-09-16,2022-07-04,4.49,4.58,4.40,4.75,4.81,4.84,1.60,4.55
4,204741,116,2,0,2011-09-16,2022-06-23,4.59,4.69,4.66,4.67,4.66,3.75,0.85,4.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6212,155859,130,0,0,2011-07-25,2019-10-28,4.87,4.84,4.81,4.92,4.96,4.71,0.94,4.87
6213,164069,199,3,0,2011-07-12,2022-09-17,4.85,4.88,4.88,4.92,4.87,4.46,1.43,4.70
6214,174808,57,19,0,2016-04-11,2022-10-30,4.93,4.86,4.95,4.93,5.00,4.67,0.70,4.95
6215,175608,186,0,0,2011-10-06,2021-09-05,4.31,4.51,4.46,4.71,4.56,4.68,1.36,4.48
6216,178395,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2357]:
# Drop the columns related to min max night from the dtaframe listing
columns_to_drop = [
    'number_of_reviews','number_of_reviews_ltm',
                             'number_of_reviews_l30d','first_review',
                             'last_review',
                             'review_scores_rating','review_scores_accuracy',	
                             'review_scores_cleanliness', 'review_scores_checkin',
                             'review_scores_communication','review_scores_location','reviews_per_month','review_scores_value'
]
listing_df = listing_df.drop(columns=columns_to_drop)

In [2358]:
# Create CSV file for listing_reviews_df
listing_reviews_df=listing_reviews_df.to_csv('listing_reviews_final.csv', index=False)

In [2359]:

# Create dataframe for calculated_host_listings_df
calculated_host_listings_df=listing_df[['id','calculated_host_listings_count',	'calculated_host_listings_count_entire_homes',	
                                        'calculated_host_listings_count_private_rooms',
                                        'calculated_host_listings_count_shared_rooms']].copy()

In [2360]:
# display listing_reviews_df
calculated_host_listings_df

,id,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,3686,1,0,1,0
1,196429,1,1,0,0
2,198685,1,0,1,0
3,201116,1,1,0,0
4,204741,2,0,2,0
...,...,...,...,...,...
6212,155859,2,1,1,0
6213,164069,4,0,4,0
6214,174808,1,0,1,0
6215,175608,3,3,0,0
6216,178395,2,1,1,0

In [2361]:
# Drop the columns related calculated_host_listings_df from the dtaframe listing
columns_to_drop = [
    'calculated_host_listings_count',	'calculated_host_listings_count_entire_homes',	
                                        'calculated_host_listings_count_private_rooms',
                                        'calculated_host_listings_count_shared_rooms']
listing_df = listing_df.drop(columns=columns_to_drop)

In [2362]:
# Create CSV file for listing_reviews_df
calculated_host_listings_df=calculated_host_listings_df.to_csv('calculated_host_listings_final.csv', index=False)

In [2363]:
listing_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'calendar_updated', 'license'],
      dtype='object')

In [2364]:
listing_df1=listing_df[['id','name','description','listing_url','neighborhood_overview','picture_url','neighbourhood','neighbourhood_cleansed',
                        'latitude', 'longitude','property_type','room_type','accommodates','bathrooms_text','bedrooms', 'beds','price','license'
]].copy()

In [2365]:
# Convert the 'price' column to string type
listing_df1['price'] = listing_df['price'].astype(str)

# Remove the '$' symbol and commas and convert to float
listing_df1['price'] = listing_df['price'].str.replace('$', '').str.replace(',', '').astype(float)

C:\Users\romej\AppData\Local\Temp\ipykernel_9268\2024871754.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  listing_df1['price'] = listing_df['price'].str.replace('$', '').str.replace(',', '').astype(float)

In [2366]:
# Create fils CSV for listing
listing_df1 = listing_df1.to_csv('listings_final.csv', index=False)